.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.ser-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.top-div-ser {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes-con {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.box {
    width: 300px;
    height: 200px;
    background-color: #c4daf5;
    border: 2px solid black;
    margin: 8px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.titile-ser {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.des-ser{
    margin: 20px;
    text-align: center;
}
.ser-icon{
    font-size: 120px;

}

@media  screen and  (min-width: 100px)  and  (max-width: 750px)  {
    .top-div-ser {
        width: 80%;
        
    }
 
       
}